.swiper {
    width: 100%;
    padding-top: 50px;
    padding-bottom: 50px;
}

.swiper-slide {
    width: fit-content;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: transparent;
}

.swiper-slide img {
    display: block;
    width: 100%;
    object-fit: contain;
    border-radius: 20px;
}

.song-block {
    border-radius: 10px;
    box-shadow: 0 20px 20px rgba(255, 255, 255, 0.3);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    height: 300px;
    width: fit-content;
}